* {
  font-family: 'Fira Code', monospace;
}
html {
  background: #202020;
  color: #fff;
  font-size: 14px;
}
.red {
  color: #CC0000;
  text-shadow: 2px 2px 5px #000000;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
}
.App-wrapper {
  width: 80%;
  max-width: 980px;
  padding: 1rem 2rem;
}
.App-logo {
  height: 40vmin;
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 1vmin);
}
.App-title {
  margin-bottom: 0;
}
.App-main {
  font-size: calc(16px + 0.5vmin);
  line-height: 1.58;
}
.App-main p,
.App-main ul {
  margin-top: 2rem;
}
.App-links {
  display: flex;
  margin-top: 2rem;
  min-width: 10rem;
  width: 100%;
  justify-content: space-between;
}
.App-link {
  color: #fff;
  font-size: 3rem;
  display: inline;
  pointer-events: initial;
}