html {
  background: #202020;
  color: #fff;
  font-size: 14px;
}
.red {
  color: #CC0000;
  text-shadow: 2px 2px 5px #000000;
}
.App {
  font-family: 'Fira Code', monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App-wrapper {
  width: 80%;
  max-width: 980px;
  padding: 1rem 2rem;
}
.App-logo {
  height: 40vmin;
}
.App-header {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  padding: 1.5rem 0;
}
.App-menu {
  font-size: calc(16px + 0.5vmin);
}
.App-menu .link {
  color: #CC0000;
  line-height: 1.58;
  margin-right: 0.5rem;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  text-decoration: none;
}
.App-menu .link:hover,
.App-menu .link.active {
  border-bottom: 1px solid #CC0000;
}
.App-menu .link.active {
  font-weight: 700;
}
.App-title {
  margin-bottom: 0;
}
.App-title span {
  display: inline-block;
}
.App-main {
  font-size: calc(16px + 0.5vmin);
  line-height: 1.58;
}
.App-main p,
.App-main ul {
  margin-top: 2rem;
}